<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CurriculumSchedule1.0/src/cn/edu/software/curriculumschedule/userinterface/UserUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.edu.software.curriculumschedule.userinterface.UserUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CurriculumSchedule1.0"/>
</launchConfiguration>
