/Logistics-System/nbproject/private/
*.class
*.class
LSClient/src/ui/courierui/courier_goods.form
LSClient/src/ui/courierui/courier_goods.form
LSClient/src/ui/courierui/courier_goods.java
LSClient/src/ui/courierui/courier_goods.java
/target/